<script>ShutterStep.dropper = "<%= asset_path( 'ShutterStep-Dropper.png' ) %>"</script>
<script>ShutterStep.text = "<%= asset_path( 'ShutterStep-Text.png' ) %>"</script>
<script>ShutterStep.logo = "<%= asset_path( 'ShutterStep-Logo.png' ) %>"</script>
<script>ShutterStep.landingPage = "<%= asset_path( 'landingPage.jpg' ) %>"</script>
<script>ShutterStep.x = "<%= asset_path( 'X.png' ) %>"</script>

<div class="top-block"></div>
<article class="currentView">
</article>
<div class="bottom-block"></div>
