<article class="results-number">
	<h1 class="pages-out-of-total">
		Page: <%= pictures.page %> out of <%= pictures.total_pages %>
	</h1>
	<h2 class="number-of-results">
		<%= pictures.picture_total %> results
	</h2>
</article>
<ul class='root-filter-feed-item group'>
</ul>
<section class="pictures-out-of">
	<h3 class="number-out-of-pictures">
		<%= (pictures.page - 1)*20 + 1%> - <%= (pictures.page - 1)*20 + pictures.length %> out of <%= pictures.picture_total %> results
	</h3>
</section>
<section class="paginate-buttons">
	<% if(pictures.page < 5) { %>

		<% if(pictures.page != 1) { %>
			<button><</button>
		<% } %>

		<% if(pictures.page == 4) { %>

			<% for(var i = 1; i <= 5; i++) { %>

				<button><%= i %></button>

			<% } %>

		<% } %>

		<% if(pictures.page == 3) { %>

			<% for(var i = 1; i <= 4; i++) { %>
				<button><%= i %></button>
			<% } %>

		<% } %>
		<% if(pictures.page < 3) { %>

			<% for(var i = 1; i <= 3; i++) { %>
				<button><%= i %></button>
			<% } %>

		<% } %>
		<label>...</label>
		<button><%= pictures.total_pages %></button>
		<button>></button>

	<% } else if(pictures.total_pages - pictures.page < 4) { %>
		<button><</button>
		<button>1</button>
		<label>...</label>

		<% if(pictures.total_pages - pictures.page == 3) { %>

			<% for(var i = pictures.page - 1; i <= pictures.total_pages; i++) { %>

				<button><%= i %></button>

			<% } %>

		<% } %>
		<% if(pictures.total_pages - pictures.page < 3) { %>

			<% for(var i = pictures.total_pages - 3; i <= pictures.total_pages; i++) { %>

				<button><%= i %></button>

			<% } %>

		<% } %>
		<% if(pictures.page != pictures.total_pages) { %>
			<button>></button>
		<% } %>
	<% } else if(pictures.page - 4 >= 1 || pictures.total_pages - pictures.page >= 4) { %>
		<button><</button>
		<button>1</button>
		<label>...</label>
		<button><%= pictures.page - 1 %></button>
		<button><%= pictures.page %></button>
		<button><%= parseInt(pictures.page) + 1 %></button>
		<label>...</label>
		<button><%= pictures.total_pages %></button>
		<button>></button>
	<% } %>
</section>
