<article class="results-number">
	<h1 class="pages-out-of-total">
		<% if(pictures.total_pages > 0) { %>
			Page: <%= pictures.page %> out of <%= pictures.total_pages %>
		<% } else { %>
			Page: 0 out of 0
		<% } %>
	</h1>
	<h2 class="number-of-results">
		<%= pictures.pictures_total %> results
	</h2>
</article>
<ul class='root-filter-feed-item group'>
</ul>
<section class="pictures-out-of">
	<h3 class="number-out-of-pictures">
		<% if(pictures.pictures_total === 0) { %>
			0 - 0 out of 0 results
		<% } else { %>
			<%= (pictures.page - 1)*20 + 1%> - <%= (pictures.page - 1)*20 + pictures.length %> out of <%= pictures.pictures_total %> results
		<% } %>
	</h3>
</section>
<section class="paginate-buttons">
	<% if(pictures.pages >= 1) { %>
		<% if(pictures.page < 5) { %>

			<% if(pictures.page != 1) { %>
				<button class="page-switch"><</button>
			<% } %>

			<% if(pictures.page == 4) { %>

				<% for(var i = 1; i <= 5; i++) { %>

					<button class="page-switch"><%= i %></button>

				<% } %>

			<% } %>

			<% if(pictures.page == 3) { %>

				<% for(var i = 1; i <= 4; i++) { %>
					<button class="page-switch"><%= i %></button>
				<% } %>

			<% } %>
			<% if(pictures.page < 3) { %>

				<% for(var i = 1; i <= 3; i++) { %>
					<button class="page-switch"><%= i %></button>
				<% } %>

			<% } %>
			<label>...</label>
			<button class="page-switch"><%= pictures.total_pages %></button>
			<button class="page-switch">></button>

		<% } else if(pictures.total_pages - pictures.page < 4) { %>
			<button class="page-switch"><</button>
			<button class="page-switch">1</button>
			<label>...</label>

			<% if(pictures.total_pages - pictures.page == 3) { %>

				<% for(var i = pictures.page - 1; i <= pictures.total_pages; i++) { %>

					<button class="page-switch"><%= i %></button>

				<% } %>

			<% } %>
			<% if(pictures.total_pages - pictures.page < 3) { %>

				<% for(var i = pictures.total_pages - 3; i <= pictures.total_pages; i++) { %>

					<button class="page-switch"><%= i %></button>

				<% } %>

			<% } %>
			<% if(pictures.page != pictures.total_pages) { %>
				<button class="page-switch">></button>
			<% } %>
		<% } else if(pictures.page - 4 >= 1 || pictures.total_pages - pictures.page >= 4) { %>
			<button class="page-switch"><</button>
			<button class="page-switch">1</button>
			<label>...</label>
			<button class="page-switch"><%= pictures.page - 1 %></button>
			<button class="page-switch"><%= pictures.page %></button>
			<button class="page-switch"><%= parseInt(pictures.page) + 1 %></button>
			<label>...</label>
			<button class="page-switch"><%= pictures.total_pages %></button>
			<button class="page-switch">></button>
		<% } %>
	<% } %>
</section>
