<section id='picture-map'>
  <article id='<%=picture.id %>'>
    <h1><%=picture.escape("title") %></h1>
    <label>By:<%=user.get("first_name") %> <%=user.get("last_name")%></label>
    <img src="<%=picture.escape("url")%>">
    <p><%=picture.escape("description")%></p>
  </article>
</section>
