<section id='picture-map'>
  <article id='<%=picture.id %>'>
    <h1><%=picture.escape("title") %></h1>
    <a class="info-window-thumb-link" href="#users/<%=user.id%>">
      <div class="info-window-thumb">
        <img src="<%= user.escape("thumb_image_url") %>" alt="" />
      </div>
      <label><%=user.escape("first_name") %> <%=user.escape("last_name")%></label>
    </a>
    <div class="button-container">
      <img src="<%=picture.escape("original_image_url")%>">
      <button class="favorite-picture">&#9734</button>
    </div>
    <p><%=picture.escape("description")%></p>
  </article>
</section>
