<header class="root"></header>
<main class="content group">
  <section class="content-sidebar">
    <a href="#" class="profile-picture">
    </a>

    <div class="profile-info">
      <h2><%= user.escape("first_name") %> <%= user.escape("last_name") %></h2>

    </div>

    <ul class="profile-nav">
			<li>
				<a href="#">Following</a>
				<ul class="profile-following group">
				</ul>
			</li>
      <li>
				<a href="#">Followers</a>
				<ul class="profile-followers group">
	      </ul>
			</li>
      <li>
				<a href="#">Favorited Photos</a>
			</li>
    </ul>
  </section>
  <section class="content-main">

  </section>
</main>



<label>

<%= user.escape("username") %><br>
<%= user.escape("birthday") %><br>
<%= user.escape("sex") %><br>
</label>
<br>
<br>
<button data-user-id="<%= user.id %>">Follow</button>
<br>
<br>
<label>
Followers: <%= user.followers().models.length %><br>
<% user.followers().each(function(follower) { %>
	<%= follower.escape("first_name") %><br>
	<%= follower.escape("last_name") %><br>
	<%= follower.escape("username") %><br>
	<%= follower.escape("birthday") %><br>
	<%= follower.escape("sex") %><br>
<% }) %>
</label>

<label>
<br>
Following: <%= user.following().models.length %><br>
<% user.following().each(function(following) { %>
	<%= following.escape("first_name") %><br>
	<%= following.escape("last_name") %><br>
	<%= following.escape("username") %><br>
	<%= following.escape("birthday") %><br>
	<%= following.escape("sex") %><br>
<% }) %>
</label>

<label class="profile-picture-collection">
<br>
Pictures: <%= user.pictures().models.length %><br>

<% user.pictures().each(function(picture) { %>
	<h1><%=picture.escape("title")%></h1> <br>
	<img src="<%= picture.escape("url")%>" alt="" /><br>
	<br><p><%=picture.escape("description")%></p> <br>
<% }) %>
</label>
